$colors: (
  light: #FFFFFF,
  medium: #808080,
  dark: #000000,
);

$light: map-get($colors, light);
$medium: map-get($colors, medium);
$dark: map-get($colors, dark);

@each $name, $color in $colors {

  .bg-#{$name} {
    background-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }
}
